.card{
    border: none;
}

.card-body{
    padding: 0;
}

.card-tab-body {
    background: #F0F3F8;
    padding: 0;
}

.card-logo{
    text-align: center;
    margin: 30px 0 44px 0;
}

.card-nav-tabs{
    display: flex;
    flex-direction: column;
    border: none;
}

.card-nav-tabs a{
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #626D74;
    border: none !important;
    border-radius: 0 !important;
    padding: 20px 61px 22px 51px;
}

.nav-link.active{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    background-color: #E6EBF2 !important;
}

.tab-sub-text{
    font-weight: 350;
    font-size: 14px;
    line-height: 17px;
    padding-top: 5px;
}

/* card-content-body */
.card-content-body{
    padding: 0;
}



/* Setup Account Content */
.setup-account-content{
    border-bottom: none;
}

.setup-account-content a{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #626D74;
    border: none !important;
}

.setup-account-content .nav-link.active{
    background: #F5F7FA !important;

}

.setup-account-content-body{
    background: #F5F7FA;
}

.basic-info-form{
    padding: 45px 229px 458px 114px;
}

/* .basic-info-form label,
.basic-info-form .form-group div{
    padding: 0;
} */
