.card{
    border: none;
}

.card-body{
    padding: 0;
}

.card-tab-body {
    background: #F0F3F8;
    padding: 0;
}

.card-logo{
    text-align: center;
    margin: 30px 0 44px 0;
}

.card-nav-tabs{
    display: flex;
    flex-direction: column;
    border: none;
}

.card-nav-tabs a{
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #626D74;
    border: none !important;
    border-radius: 0 !important;
    padding: 20px 61px 22px 51px;
}

.nav-link.active{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    background-color: #E6EBF2 !important;
}

.tab-sub-text{
    font-weight: 350;
    font-size: 14px;
    line-height: 17px;
    padding-top: 5px;
}